/*--------------------------------------------------------------------------------*/
/* ELEMENT SELECTORS */



/*--------------------------------------------------------------------------------*/
/* CLASS SELECTORS */



/*--------------------------------------------------------------------------------*/
/* ID SELECTORS */

#blogpost {
    height: 5rem;
    
}

#blogpost, #title {
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}

/*--------------------------------------------------------------------------------*/