/*--------------------------------------------------------------------------------*/
/* ELEMENT SELECTORS */



/*--------------------------------------------------------------------------------*/
/* CLASS SELECTORS */

.button {
    width: 10rem;
}

.form__field {
    display: flex;
    flex-direction: column;
}

.form__input {
    width: 60%;
}

.text-input {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-bottom: 1rem;
}

/*--------------------------------------------------------------------------------*/
/* ID SELECTORS */



/*--------------------------------------------------------------------------------*/