/*--------------------------------------------------------------------------------*/
/* ELEMENT SELECTORS */

main ul {
    padding-left: 5rem;
}

@media screen and (max-width:1040px) {
    main ul {
        padding-left: 0rem;
    }

    li ul {
        padding-left: 2rem;
    }

    main, section {
        gap: 2rem;
    }
}
/*--------------------------------------------------------------------------------*/
/* CLASS SELECTORS */



/*--------------------------------------------------------------------------------*/
/* ID SELECTORS */



/*--------------------------------------------------------------------------------*/