/*--------------------------------------------------------------------------------*/
/* ELEMENT SELECTORS */



/*--------------------------------------------------------------------------------*/
/* CLASS SELECTORS */

.error-message {
    color: red;
}

.form__field {
    display: flex;
    flex-direction: column;
}

.textbox {
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}

/*--------------------------------------------------------------------------------*/
/* ID SELECTORS */



/*--------------------------------------------------------------------------------*/