h1 a {
    margin-left: 0rem;
}

header {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

header ul {
    flex-direction: column;
}

section {
    flex-direction: column;
}

#header__logout {
    margin-right: 0rem;
}
